{% extends "Company/company_base.html" %}
{% block content %}


<h3 class="section-title text-center text-white">About Us</h3>
<p class="text-center text-white">{{ company.description }}</p>

<!-- UPCOMING DRIVES -->

<div class="container fs-5">
    <span><b>Upcoming Drives</b></span>
    <a href="/company/add_drive" type="button" class="btn btn-outline-primary fs-5">Create Drive</a>
    {% if approve_drives %}
    <table class="table table-bordered fs-5">
        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Drive Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Job Description</th>
                <th scope="col">Eligibility Criteria</th>
                <th scope="col">Salary</th>
                <th scope="col">Application Deadline</th>

                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for d in approve_drives %}
            <tr>
                <td scope='row'>{{loop.index}}</td>
                <td>{{d.drive_name}}</td>
                <td>{{d.job_title}}</td>
                <td>{{d.job_desc}}</td>
                <td>{{d.eligibility_criteria}}</td>
                <td>{{d.salary}}</td>
                <td>{{d.application_deadline}}</td>

                <td>
                    <a href="{{url_for("view_application_by_company", id=d.id)}}" type="button"
                        class="btn btn-outline-info">View Details</a>
                    <form action="{{url_for("completed_drive", id=d.id)}}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-outline-success">Mark as Complete</button>

                    </form>
                    <a href="{{url_for("edit_drive", id=d.id)}}" type="button" class="btn btn-outline-primary">Edit</a>
                    <a href="{{url_for("delete_drive", id=d.id)}}" type="button"
                        class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
    <p class="text-white">No Drive Created yet......</p>
    {% endif %}
</div>


<!-- CLOSED DRIVES -->

<div class="container fs-5">
    <span><b>Closed Drives</b></span>
    {% if completed_drives %}
    <table class="table table-bordered fs-5">
        <thead>
            <tr>
                <th scope="col">Sr no.</th>
                <th scope="col">Drive Name</th>
                <th scope="col">Job Title</th>
                

            </tr>
        </thead>
        <tbody>
            {% for cd in completed_drives %}
            <tr>
                <td scope='row'>{{loop.index}}</td>
                <td>{{cd.drive_name}}</td>
                <td>{{cd.job_title}}</td>
                

            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
    <p class="text-white">No Drive Completed yet......</p>
    {% endif %}
</div>


{% endblock %}